<!DOCTYPE HTML>
<html>
<head>

@@include('./includes/htmlhead.html', {
    "applicationName" : "TripMeMore app",
    "copyrightYear" : "octobre 2014",
    "twitterUsername" : "@jlavinh",
    "authorName" : "Julien Tilap LA VINH",
    "authorProfileUrl" : "https://plus.google.com/u/0/100500349692608932832/posts",
    "description" : "Draft design for TripMeMore "
})

    <!-- fonticon sample -->
    <link rel="stylesheet" href="fonts/fontello/css/gulppage.css" type='text/css' media='all' />

    <!-- google font for the demo -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,400,900|Permanent+Marker|Open+Sans:300,400,600|Short+Stack:400' rel='stylesheet' type='text/css'>

    <!-- build:css stylesheet/style.css -->
    <link rel="stylesheet" href="../../vendor/tooltipster/css/tooltipster.css" />
    <link rel="stylesheet" href="../../vendor/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="../../tmp/stylesheet/stylesheet.css" />
    <!-- endbuild -->
</head>
<body>

@@include('./includes/navbar.html')

<div class="pinlist-wrapper">
    <div class="title" data-pinlist-title></div>
    <div class="pins-wrapper" data-pinlist-list></div>
</div>

<!-- map wrapper so we can add other stuff over the map later -->
<div class="map-wrapper"> 
    <div id="map"></div>
</div>

<!-- ejs template -->
<script id="template-pin" type="text/template">
    <div class="pin" data-id="<%- _id %>" >
        <% if(media.type==='image') { %>
            <img src="<%- media.content %>" data-open-place="<%- _id %>" />
        <% } %>
        <div class="title" data-open-place="<%- _id %>"><%= place.name %></div>
        
        <div class="infos">
            Pined on <%= date %><br />
            <a href="<%- origin %>"><%= origin %></a>
        </div>
        <div class="links">
            <a href="#" class="btn btn-default btn-primary btn-sm" data-open-place="<%- _id %>"><i class="icon-eye"></i></a>
            <a href="#" class="btn btn-default btn-sm" data-focus-place="<%- _id %>"><i class="icon-location"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
</script>

<script id="template-pin-item" type="text/template">
    <div class="image" data-id="<%- _id %>" >
        <div class="left">
            <div class="title"><%= place.name %></div>
            <div class="map" id="map-details" data-ll="<%- place.ll %>" data-lg="<%- place.lg %>"></div>
            <div class="infos">
                Pined on <%= date %><br />
                Source: <a href="<%- origin %>"><%= origin %></a>
            </div>
        </div>
        <div class="right">
            <img src="<%- media.content %>" />
        </div>
        <div class="clearfix"></div>
    </div>
</script>

<!-- build:js js/bundle.js -->
<script src="../../vendor/jquery/dist/jquery.js"></script>

<script src="../../vendor/leaflet/dist/leaflet.js"></script>
<script src="../../vendor/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>

<script src="../../vendor/tooltipster/js/jquery.tooltipster.js"></script>

<script src="../../vendor/ejs/ejs.js"></script>

<script src="../../vendor/magnific-popup/dist/jquery.magnific-popup.min.js"></script>

<script src="../../tmp/js/app.js"></script>
<!-- endbuild -->

</body>
</html>